html {
    font-family: 'Montserrat', sans-serif;
    background: rgb(31,57,75);
    background: linear-gradient(-52deg, rgba(31,57,75,1) 0%, rgba(81,150,198,1) 60%, rgba(18,177,209,1) 100%);
  }
  
body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  background: rgb(0,58,98);
  background: linear-gradient(200deg, rgba(0,58,98,1) 0%, rgba(39,107,154,1) 50%, rgba(47,138,157,1) 100%);
}


header h1 {
  padding: 3%;
  color: white;
  margin: auto;
  width: fit-content;
  font-weight: normal;
  text-shadow: 0px 0px 3px rgb(44, 85, 126);
}

ul {
  list-style: circle;
  margin-left: 10px;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  color: inherit;
  justify-content: space-evenly;
}

li {
  margin: 1%;

}

a{
  text-decoration: none;
  color: inherit;
  transition: .5s ease-out;
}
a:hover {color:antiquewhite}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}